.news-article {
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 2rem;
  margin: auto;
}

/* .news-article ul {
  list-style-type: circle;
} */
.news-article li {
  list-style: none;
}

.news-details h1 {
  margin-bottom: 4rem;
}

.news-details img {
  max-width: 100%;
  margin-bottom: 2rem;
  height: auto;
  display: block;
  margin: 2rem auto 5rem;
}

@media screen and (max-width: 640px) {
}
