.key-data-table-container {
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  /* text-align: center; */
  /* width: 100%; */
}
.key-data-container {
  margin-top: 5rem;
}

.key-data-container h1 {
  margin: 2rem;
}

.key-data-table-container table {
  width: 45%;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
}

tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 800px) {
  .key-data-table-container {
    flex-direction: column;
  }
  .key-data-table-container table {
    width: 100%;
  }
}
