.nav-list {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  max-width: 1280px;
  margin: auto;
}

.nav-container {
  background-color: #232a31;
}

.nav-container a {
  text-decoration: none;
  color: white;
}

.nav-container a:nth-child(1) {
  flex: 1;
}

.burger {
  color: white;
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 480px) {
  .nav-list {
    display: none;
  }
  .nav-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .burger {
    display: block;
  }

  .nav-container {
    padding: 0.5rem;
  }
}
