.stocks-list-container {
  text-align: center;
}

.stocks-list-container table {
  margin: 2rem auto;
  max-width: 700px;
  width: 80%;
}

.stock-container td {
  width: 100%;
}

.stock-container:hover {
  background-color: #f9f9fa;
}

.stock-link {
  text-decoration: none;
  color: #0f69ff;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.even {
  color: black;
}
